<div *ngIf="campaign">
    <div class="left-panel">
        <div class="side-background"></div>

        <div class="overview-tab selected-tab"> Overview </div>
        <div class="review-tab "> Content Review </div>
        <div class="post-tab selected-tab"> Post </div>
    </div>
    <div class="right-panel">
        <mat-horizontal-stepper [linear]="false" #stepper>
            <mat-step>
                <ng-template matStepLabel>Overview</ng-template>
                <app-campaign-overview [campaign]="campaign"></app-campaign-overview>
                <button mat-flat-button color="primary" (click)="completeCampaign()">Complete Campaign</button>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>
                    <div>Concept Review</div>
                </ng-template>
                <div>
                    <mat-card class="basic-card">
                        <mat-card-header>
                            New Content Concept
                        </mat-card-header>
                        <mat-card-content>
                            <mat-form-field class="full-text-area">
                                <textarea matInput [(ngModel)]="newContentConcept" placeholder=""></textarea>
                            </mat-form-field>
                            <button mat-stroked-button (click)="AddNewConcept()">Create New Concept</button>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="concept-content">
                    <div class="concept-version-container" *ngFor="let campaign of conceptCampaignList; index as i">
                        <div class="concept-version">
                            ----------------    v{{conceptCampaignList.length - i}}   ----------------
                        </div>
                        <div class="concept-box" [ngClass]="{'is-final': campaign.is_final}">
                            {{ campaign.content_concept }}
                        </div>
                        <div class="feedback-box" *ngIf="campaign.feed_back" [ngClass]="{'is-final': campaign.is_final}">
                            {{ campaign.feed_back }}
                        </div>
                        <button mat-button (click)="leaveFeedback(campaign)">Leave Feedback</button>
                        <button mat-button (click)="shareConcept(campaign)">Send</button>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>
                    <div>Conetent Review</div>
                    <div class="time-info">Review Deadline {{ displayTime(campaign.end_time) }}</div>
                </ng-template>
                <div class="concept-content" *ngIf="campaignType === 'image'">
                    <button mat-raised-button color="primary" (click)="uploadImages()">Upload New Images</button>
                    <div class="concept-version-container" *ngFor="let campaign of videoCampaignList; index as i">
                        <div class="concept-version">
                            ----------------    v{{videoCampaignList.length - i}}   ----------------
                        </div>
                        <div class="concept-box" [ngClass]="{'is-final': campaign.is_final}">
                            <div>{{campaign.images.caption}}</div>
                            <div class="image-container" *ngFor="let image of campaign.images.images">
                                <div class="img-holder" >
                                    <img class="image" src="{{image.url}}">
                                </div>
                            </div>
                        </div>
                        <div class="feedback-box" *ngIf="campaign.feed_back" [ngClass]="{'is-final': campaign.is_final}">
                            {{ campaign.feed_back }}
                        </div>

                        <button mat-button (click)="reviewImages(campaign)">Leave Feedback</button>
                        <button mat-button (click)="shareImages(campaign)">Send</button>
                    </div>
                </div>
                <div class="concept-content" *ngIf="campaignType === 'video'">
                    <button mat-raised-button color="primary" (click)="uploadVideo()">Upload New Video</button>
                    <div class="concept-version-container" *ngFor="let campaign of videoCampaignList; index as i">
                        <div class="concept-version">
                            ----------------    v{{videoCampaignList.length - i}}   ----------------
                        </div>
                        <div class="concept-box" [ngClass]="{'is-final': campaign.is_final}">
                            <!-- <video controls preload="auto" #videoPlayer>
                                <source src="{{campaign.video}}" type="video/mp4" />
                                Browser not supported
                            </video> -->

                            <vg-player>
                                <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                                    <source src="{{campaign.video}}" type="video/mp4">
                                </video>
                            </vg-player>
                        </div>
                        <div class="feedback-box" *ngIf="campaign.feed_back" [ngClass]="{'is-final': campaign.is_final}">
                            {{ campaign.feed_back }}
                        </div>

                        <button mat-button (click)="reviewVideo(campaign)">Leave Feedback</button>
                        <button mat-button (click)="shareVideo(campaign)">Send</button>
                    </div>
                </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>
                <div>Post</div>
                <div class="time-info">Post Date {{ displayTime(campaign.extra_info['post_time']) }}</div>
              </ng-template>
            </mat-step>
          </mat-horizontal-stepper>
    </div>
</div>
