<!-- <h1 *ngIf="auth.user| async as user">Hello {{ user.displayName }}!</h1> -->

<div>
    <div class="left">
        <div class="image-container">
            <img class="panel-image" src="assets/images/login.png">
        </div>
    </div>
    <div class="right">
        <div class="login-box" *ngIf="completeLoading">
            <div class="title">Sign In</div>
            <div>
                <div>User Name</div>
                <mat-form-field floatLabel="never" class="large-input-box">
                    <input matInput placeholder="Email/Username">
                </mat-form-field>
            </div>
            <div>
                <div>Password</div>
                <mat-form-field floatLabel="never" class="large-input-box">
                    <input matInput placeholder="Enter Your Password">
                </mat-form-field>
            </div>
            <br><br>
            <!-- <div>
                <div>Remember Me</div>
                <div>Forgot Password?</div>
            </div> -->
            <div class="button-row">
                <button mat-flat-button color="primary" class="large-round-button" (click)="login()">Sign In</button>
                <button mat-button>Sign Up</button>
            </div>
            <div class="social-login">
                <button mat-flat-button color="primary" (click)="login()">Login with Google</button>
            </div>
        </div>
    </div>
</div>


