@import 'common';
@import 'global';

.header-background {
    height: 260px;
    background-color: $COLOR_BG;
    position: absolute;
    z-index: -1;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
}

.container {
    width: calc(100% - 70px);
    padding: 20px;

    .header {
        margin: 20px;
        font-size: large;
        font-weight: 800;
        color: white;
        display: inline-block;
    }
}

.influencer-container {
    background: #FFFFFF;
    border: 1px solid #DFE0EB;
    box-sizing: border-box;
    border-radius: 8px;
    width: calc(100% - 80px);
    margin: 20px 40px;
    padding: 20px;
    .influencer-header {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 20px;
    }

    .influencer-list {
        .influencer-item {
            display: inline-block;
        }
    }
}

.signup-button {
    margin: 20px 40px;
}