
.page-tile {
    margin: 20px;
    font-size: large;
}

.input-form {
    .item-title {
        width: 150px;
        text-align: right;
        display: inline-block;
        margin-right: 20px;
    }

    // .example-full-width {
    //     width: 400px;
    //     display: inline-block;
    // }

    textarea {
        resize: none;
        height: 100px;
        width: 400px;
    }
}

.input-card {
    margin: 20px 50px;
    padding: 0px;

    .mat-card-header {
        padding: 15px;
        background-color: lightgrey;
    }
}

.create-button {
    float: right;
    margin-right: 50px;
}