
.page-tile {
    margin: 20px;
    font-size: large;
}

.input-form {
    .item-title {
        width: 150px;
        text-align: right;
        display: inline-block;
        margin-right: 20px;
    }

    .mat-radio-button {
        margin-right: 20px;
    }

    // .example-full-width {
    //     width: 400px;
    //     display: inline-block;
    // }

    textarea {
        resize: none;
        height: 100px;
        width: 400px;
    }

    .date-input {

    }

    .time-input {
        vertical-align: top;
        display: inline-block;
        margin-left: 20px;
    }
}

.input-card {
    margin: 20px 50px;
    padding: 0px;

    .mat-card-header {
        padding: 15px;
        background-color: lightgrey;
    }
    .remove-icon {
        vertical-align: top;
        margin-left: 15px;
        cursor: pointer;
    }

    .mat-card-content {
        padding: 15px 30px;
        .example-full-width {
            width: 500px;
        }
    }
}

.create-button {
    float: right;
    margin-right: 50px;
    margin-bottom: 20px;
}