<h1 *ngIf="auth.user| async as user">Hello {{ user.displayName }}!</h1>

<div class="login-box">
    <p>Please login.</p>
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Email/Username</mat-label>
            <input matInput placeholder="">
        </mat-form-field>
    </div>
    
    <div>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="">
        </mat-form-field>
    </div>
    

    <button mat-flat-button color="primary" (click)="login()">Login with Google</button>
</div>
