<mat-sidenav-container class="nav-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="true" [fixedTopGap]="0"
        [fixedBottomGap]="0">
        <div class="logo">
            <img class="logo-image" src="assets/images/logo_light.png">
        </div>
        <div class="icon" (click)="navigate('home')" *ngIf="!isBrandView">
            <mat-icon class="menu-icon" mat-list-icon> home </mat-icon>
        </div>
        <div class="icon" (click)="navigate('brand-home')" *ngIf="isBrandView">
            <mat-icon class="menu-icon" mat-list-icon> home </mat-icon>
        </div>
        <div class="icon" (click)="navigate('calendar')">
            <mat-icon class="menu-icon" mat-list-icon> calendar_today </mat-icon>
        </div>
        <!-- <div class="icon">
            <mat-icon class="menu-icon" mat-list-icon> notifications_none </mat-icon>
        </div> -->


        <div class="icon logout-icon" (click)="logout()">
            <mat-icon class="menu-icon" mat-list-icon> exit_to_app </mat-icon>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>