@import 'common';

.logo {
    margin: 15px 0px 20px 10px;

    .logo-image {
        height: 60px;
        width: 60px;
    }
}

.icon {
    cursor: pointer;
    .menu-icon {
        font-size: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
}

.disabled {
    cursor: no-drop;
    color: grey;
}

.logout-icon {
    position: absolute;
    bottom: 10px;
}

.nav-container {
    height: 100%;
}