@import 'common';

.logo {
    margin: 25px 10px 30px 10px;
}

.icon {
    cursor: pointer;
    .material-icons {
        font-size: 30px;
        margin-left: 20px;
        margin-bottom: 30px;
    }
}