
.page-tile {
    margin: 20px;
    font-size: large;
}

.input-form {
    margin-left: 100px;
    margin-top: 40px;
    .item-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
    }

    .campaign-type-selector {
        cursor: pointer;
    }

    .disable-type {
        color: lightgrey;
        cursor: no-drop;
    }
    .example-full-width {
        width: 420px;
    }

    .example-half-width {
        width: 200px;
    }

    textarea {
        resize: none;
        height: 100px;
        width: 420px;
    }

    .half {
        width: 200px;
        display: inline-block;
        margin-right: 20px;
    }

    .extend-half {
        width: 440px;
        display: inline-block;
        margin-right: 20px;

        .example-half-width {
            margin-right: 20px;
        }
    }

    .mat-radio-button {
        margin-right: 20px;
    }

    .date-input {

    }

    .time-input {
        vertical-align: top;
        display: inline-block;
        margin-left: 20px;
        
        ::ng-deep input {
            font-size: 16px;
            padding-bottom: 4px;
        }
    }

    .list-input {
        .add-icon {
            cursor: pointer;        
        }

        .remove-icon {
            vertical-align: top;
            margin-left: 15px;
            cursor: pointer;
        }

        .list-item {
            line-height: 20px;
            margin: 10px;
        }
    }

    .contract-list-item {
        border-radius: 6px;
        border: 1px solid lightgrey;
        padding: 6px 12px;
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}


.create-button {
    float: right;
    margin-right: 50px;
    margin-bottom: 20px;
}