
<div class="input-form">
    <div>
        <div class="item-title">Campaign Name:</div>
        <mat-form-field class="example-full-width">
            <input 
                matInput placeholder="" 
                [(ngModel)]="campaignName" 
                (ngModelChange)="campaignNameChange($event)"
                autocomplete="off"
            >
        </mat-form-field>
        <span 
            [ngClass]="{'disable-type': campaignType==='video'}"
            class="material-icons campaign-type-selector" 
            (click)="campaignType='image'"
        > image  </span>
        <span 
            [ngClass]="{'disable-type': campaignType==='image'}"
            class="material-icons campaign-type-selector" 
            (click)="campaignType='video'"
        > videocam  </span>
    </div>

    <div>
        <div class="half">
            <div class="item-title">Brand:</div>
            <mat-form-field class="example-half-width">
                <input 
                    matInput 
                    placeholder="" 
                    [(ngModel)]="brand" 
                    (ngModelChange)="brandChange($event)"
                    autocomplete="off"
                >
            </mat-form-field>
        </div>
    
        <div class="half">
            <div class="item-title">Platform:</div>
            <mat-form-field class="example-half-width">
                <mat-select [formControl]="platform" multiple>
                    <mat-option *ngFor="let p of platformList" [value]="p">{{p}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
 
    <div>
        <div class="half">
            <div class="item-title">Commission Type:</div>
            <mat-form-field class="example-half-width">
                <mat-select [formControl]="commissionType" (onChange)="commissionTypeChange()">
                    <mat-option *ngFor="let p of commissionTypeList" [value]="p">{{p}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <div class="extend-half">
            <div class="item-title">Commission:</div>
            <mat-form-field class="example-half-width" *ngIf="showCommissionDollar()">
                <span matPrefix>$ &nbsp;</span>
                <input 
                    matInput 
                    type="number" 
                    placeholder="" 
                    [(ngModel)]="commissionDollar" 
                    (ngModelChange)="commissionDollarChange($event)"
                    autocomplete="off"
                >
            </mat-form-field>
            <mat-form-field class="example-half-width" *ngIf="showCommissionPercent()">
                <span matSuffix>&nbsp; %</span>
                <input 
                    matInput 
                    type="number" 
                    placeholder="" 
                    [(ngModel)]="commissionPercent" 
                    (ngModelChange)="commissionPercentChange($event)"
                    autocomplete="off"
                >
            </mat-form-field>
        </div>
    </div>

    <div>
        <div class="half">
            <div class="item-title">Contact Name:</div>
            <mat-form-field class="example-half-width">
                <input 
                    matInput 
                    placeholder="" 
                    [(ngModel)]="contactName" 
                    (ngModelChange)="contactNameChange($event)"
                    autocomplete="false"
                >
            </mat-form-field>
        </div>
    
        <div class="half">
            <div class="item-title">Contact Email:</div>
            <mat-form-field class="example-half-width">
                <input 
                    matInput 
                    placeholder="" 
                    [(ngModel)]="contactEmail" 
                    (ngModelChange)="contactEmailChange($event)"
                    autocomplete="false"
                >
            </mat-form-field>
        </div>
    </div>
    
    <div>
        <div class="item-title">Review Deadline: </div>
        <mat-form-field class="date-input">
            <input 
                matInput 
                [matDatepicker]="endTimePicker" 
                [(ngModel)]="endDate" 
                (ngModelChange)="endTimeChange($event)"
                autocomplete="off"
            >
            <mat-datepicker-toggle matSuffix [for]="endTimePicker"></mat-datepicker-toggle>
            <mat-datepicker #endTimePicker></mat-datepicker>
        </mat-form-field>
        <ngx-mat-timepicker class="time-input" [(ngModel)]="endTime" [showSpinners]="false" [enableMeridian]="false"></ngx-mat-timepicker>
    </div>

    <div>
        <div class="item-title">Post Date:</div>
        <mat-form-field>
            <input 
                matInput 
                [matDatepicker]="postTimePicker" 
                [(ngModel)]="postDate" 
                (ngModelChange)="endTimeChange($event)"
                autocomplete="off"
            >
            <mat-datepicker-toggle matSuffix [for]="postTimePicker"></mat-datepicker-toggle>
            <mat-datepicker #postTimePicker></mat-datepicker>
        </mat-form-field>
        <ngx-mat-timepicker class="time-input" [(ngModel)]="postTime" [showSpinners]="false" [enableMeridian]="false"></ngx-mat-timepicker>
    </div>

    <div class="list-input">
        <div class="item-title">Requirements</div>
        <div class="list-item" *ngFor="let requirement of campaignData.requirements; index as i">
            <mat-checkbox> {{ requirement }}</mat-checkbox> 
            <span class="material-icons remove-icon" (click)="removeFromList(campaignData.requirements, i)"> remove_circle_outline </span>
        </div>
        <mat-form-field class="example-full-width">
            <input 
                matInput 
                placeholder="" 
                [(ngModel)]="newRequirement" 
                (ngModelChange)="requirementChange($event)"
                autocomplete="off"
            >
        </mat-form-field>
        <button 
            mat-button
            (click)="addRequirement()"
            [disabled]="!newRequirement">
            <span class="material-icons add-icon" >
                playlist_add
            </span>
        </button>
    </div>

    <div class="list-input">
        <div class="item-title">Don'ts</div>
        <div class="list-item" *ngFor="let milestone of campaignData.milestones; index as i">
            <mat-checkbox> {{ milestone }}</mat-checkbox>
            <span class="material-icons remove-icon" (click)="removeFromList(campaignData.milestones, i)"> remove_circle_outline </span>
        </div>
        <mat-form-field class="example-full-width">
            <input 
                matInput 
                placeholder="" 
                [(ngModel)]="newMilestone" 
                (ngModelChange)="milestoneChange($event)"
                autocomplete="off"
            >
        </mat-form-field>
        <button 
            mat-button
            (click)="addMilestone()"
            [disabled]="!newMilestone">
            <span class="material-icons add-icon" >
                playlist_add
            </span>
        </button>
    </div>

    <div>
        <div class="item-title">Contract</div>
        <div>
            <div class="contract-list-item" *ngFor="let contract of uploadedContract; index as i"> 
                {{ contract }} 
                <span class="material-icons add-icon" (click)="removeContract(i)">remove</span>
            </div>
            <button mat-flat-button color="primary" (click)="uploadContract()"> Upload Contract </button>
        </div>
    </div>
</div>


<button class="create-button" mat-raised-button *ngIf="!isBrandView" color="primary" (click)="createCampaign()">Create Campaign</button>
<button class="create-button" mat-raised-button *ngIf="isBrandView" color="primary" (click)="createBrandCampaign()">Create Marketing Campaign</button>
