@import 'common';

.left-panel {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;

    .campaign-title {
        margin:20px;
        font-size: large;
    }
    .campaign-time {
        margin:20px;
    }
}

.basic-card {
    margin: 20px;
    padding: 0px;

    .mat-card-header {
        padding: 15px;
        background-color: $COLOR_SECONDARY;
        ::ng-deep {
            .mat-card-header-text {
                margin: 0px;
            }
        }
    }
    .mat-card-content {
        padding: 10px;
    }
}

.right-panel {
    width: 66.6%;
    display: inline-block;
    vertical-align: top;
}

.concept-content {
    width: 100%;
    display: inline-block;
    vertical-align: top;

    .concept-version {
        text-align: center;
        font-size: small;
        color: lightgrey;
    }
    
    .concept-box, .feedback-box {
        width: calc(100% - 60px);
        min-height: 35px;
        padding: 5px 5px 5px 10px;
        margin: 10px;
        border-radius: 3px;
        line-height: 30px;
        position: relative;
        color: white;
        background-color: $COLOR_SECONDARY;
    }

    .concept-box {
        margin-left: 30px;
    }

    .feedback-box {
        margin-right: 30px;
    }

    .feedback-box:before{
        content: '';
        width: 0px;
        height: 0px;
        position: absolute;
        border: 6px solid;
        border-color: transparent $COLOR_SECONDARY transparent transparent;
        left: -12px;
        top: 10px;
    }

    .concept-box:after{
        content: '';
        width: 0px;
        height: 0px;
        position: absolute;
        border: 6px solid;
        border-color: transparent transparent transparent $COLOR_SECONDARY;
        right: -12px;
        top: 10px;
    }

    .is-final {
        background-color: green !important;
    }

    .concept-box:hover, .feedback-box:hover{
        opacity: .9;
    }
}

.full-text-area {
    width: 100%;
    textarea {
        resize: none;
        height: 100px;
    }
}
.version-list {
    width: 33.3%;
    display: inline-block;
    vertical-align: top;

    .mat-list-item {
        cursor: pointer;
        border-bottom: 1px solid grey;
    }
    .mat-list-item:hover {
        background-color: lightcyan;
    }
}