<div *ngIf="campaign">
    <div class="left-panel">
        <div class="campaign-title">
            Campaign Name: {{ campaign.campaign_name }}
        </div>
        <div class="campaign-time">
            End time {{ campaign.end_time }}
        </div>
        <mat-card *ngIf="campaign" class="basic-card">
            <mat-card-header>
                Campaign Info
            </mat-card-header>
            <mat-card-content>
                <div>
                    Contacts: {{ campaign.contacts }}
                </div>
                <div>
                    Commisions: {{ campaign.commision_dollar }}
                </div>
                ...
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="campaign" class="millstone-card">
            <mat-card-header>
                Millstones
            </mat-card-header>
            <mat-card-content>
                <div  *ngFor="let item of campaign.milestones">
                    <mat-checkbox> {{ item }}</mat-checkbox>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="right-panel">
        <mat-horizontal-stepper [linear]="true" #stepper>
            <mat-step>
                <ng-template matStepLabel>Logistic</ng-template>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Concept</ng-template>
              <div>
                <div>
                    <div class="item-title">Content Concept:</div>
                    <mat-form-field class="example-full-width">
                        <textarea matInput [(ngModel)]="newContentConcept" placeholder=""></textarea>
                    </mat-form-field>
                    <button mat-stroked-button (click)="AddNewConcept()">Create New Concept</button>
                </div>
        
              </div>
              <div class="concept-content">
                  Concept: {{ campaign.content_concept }}
                  Feedback: {{ campaign.feed_back }}
                  <button mat-stroked-button (click)="leaveFeedback()">Leave Feedback</button>
              </div>
              <div class="version-list">
                <mat-list>
                    <mat-list-item> v1 </mat-list-item>
                    <mat-list-item> v2 </mat-list-item>
                    <mat-list-item> v3 </mat-list-item>
                </mat-list>
              </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Video</ng-template>
                <app-uploader></app-uploader>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
            </mat-step>
          </mat-horizontal-stepper>
    </div>
</div>
