.basic-card {
    margin: 20px;
    width: 300px;
    padding: 0px;

    .mat-card-header {
        padding: 15px;
        background-color: lightgrey;
    }
}

.millstone-card {
    margin: 20px;
    width: 700px;
    padding: 0px;

    .mat-card-header {
        padding: 15px;
        background-color: lightgrey;
    }
}