<div *ngIf="campaign">
    <div class="campaign-title">
        Campaign - {{ campaign.campaign_name }}
    </div>
    <div class="right-panel">
        <mat-horizontal-stepper [linear]="false" #stepper>
            <mat-step>
                <ng-template matStepLabel>Overview</ng-template>
                <mat-card *ngIf="campaign" class="basic-card">
                    <mat-card-header>
                        Campaign Info
                    </mat-card-header>
                    <mat-card-content>
                        <div>
                            Contacts: {{ campaign.contacts }}
                        </div>
                        <div>
                            Commisions: {{ campaign.commision_dollar }}
                        </div>
                        ...
                    </mat-card-content>
                </mat-card>
                <mat-card *ngIf="campaign" class="basic-card">
                    <mat-card-header>
                        Millstones
                    </mat-card-header>
                    <mat-card-content>
                        <div  *ngFor="let item of campaign.milestones">
                            <mat-checkbox> {{ item }}</mat-checkbox>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card *ngIf="campaign" class="basic-card">
                    <mat-card-header>
                        Shipping Information
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                </mat-card>
                <mat-card *ngIf="campaign" class="basic-card">
                    <mat-card-header>
                        Requirements
                    </mat-card-header>
                    <mat-card-content>
                        <div  *ngFor="let item of campaign.requirements">
                            <mat-checkbox> {{ item }}</mat-checkbox>
                        </div>
                    </mat-card-content>
                </mat-card>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>
                    <div>Concept Review</div>
                </ng-template>
                <div>
                    <mat-card class="basic-card">
                        <mat-card-header>
                            New Content Concept
                        </mat-card-header>
                        <mat-card-content>
                            <mat-form-field class="full-text-area">
                                <textarea matInput [(ngModel)]="newContentConcept" placeholder=""></textarea>
                            </mat-form-field>
                            <button mat-stroked-button (click)="AddNewConcept()">Create New Concept</button>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="concept-content">
                    <div class="concept-version-container" *ngFor="let campaign of conceptCampaignList; index as i">
                        <div class="concept-version">
                            ----------------    v{{conceptCampaignList.length - i}}   ----------------
                        </div>
                        <div class="concept-box" [ngClass]="{'is-final': campaign.is_final}">
                            {{ campaign.content_concept }}
                        </div>
                        <div class="feedback-box" *ngIf="campaign.feed_back" [ngClass]="{'is-final': campaign.is_final}">
                            {{ campaign.feed_back }}
                        </div>
                        <button mat-button (click)="leaveFeedback(campaign)">Leave Feedback</button>
                        <button mat-button (click)="leaveFeedback(campaign)">Send</button>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>
                    <div>Conetent Review</div>
                    <div class="time-info">Review Deadline {{ displayTime(campaign.end_time) }}</div>
                </ng-template>
                <mat-card class="basic-card">
                    <mat-card-header>
                        Upload New Video
                    </mat-card-header>
                    <mat-card-content>
                        <app-uploader [uploadPath]="uploadPath"  (onUploadSuccess)="uploadSuccess($event)"></app-uploader>
                    </mat-card-content>
                </mat-card>

                <div class="concept-content">
                    <div class="concept-version-container" *ngFor="let campaign of videoCampaignList; index as i">
                        <div class="concept-version">
                            ----------------    v{{videoCampaignList.length - i}}   ----------------
                        </div>
                        <div class="concept-box" [ngClass]="{'is-final': campaign.is_final}">
                            <!-- <video controls preload="auto" #videoPlayer>
                                <source src="{{campaign.video}}" type="video/mp4" />
                                Browser not supported
                            </video> -->

                            <vg-player>
                                <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                                    <source src="{{campaign.video}}" type="video/mp4">
                                </video>
                            </vg-player>
                        </div>
                        <div class="feedback-box" *ngIf="campaign.feed_back" [ngClass]="{'is-final': campaign.is_final}">
                            {{ campaign.feed_back }}
                        </div>

                        <button mat-button (click)="reviewVideo(campaign)">Leave Feedback</button>
                        <button mat-button (click)="reviewVideo(campaign)">Send</button>
                    </div>
                </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>
                <div>Post</div>
                <div class="time-info">Post Date {{ displayTime(campaign.extra_info['post_time']) }}</div>
              </ng-template>
            </mat-step>
          </mat-horizontal-stepper>
    </div>
</div>
