<div class="campaign-card-container">
    <div class="calendar">
        <div class="number-days">
            30
        </div>
        <div></div>
        Days Left
    </div>
    <div class="preview">
        Video
    </div>

    <div class="name">
        <div>Video Campaign Name</div>
        <div>Date</div>
    </div>

    <div class="brand">
        <div>Brand</div>
        <div>Step</div>
    </div>

    <div class="commission">
        <div>Commision</div>
        <div>$10</div>
    </div>

    <div class="icon">
        <span class="material-icons">
            notifications_none
            </span>
    </div>

    <div class="icon">
        <span class="material-icons">
            delete
            </span>
    </div>
</div>