<div class="campaign-card-container">
    <div class="calendar">
        <div class="number-days">
            {{ daysLeft(campaign.extra_info ? campaign.extra_info['post_time'] : null) }}
        </div>
        <div></div>
        Days Left
    </div>
    <div class="preview" *ngIf="campaign.extra_info['type'] === 'video'">
        <span class="material-icons"> videocam  </span>
    </div>
    <div class="preview" *ngIf="campaign.extra_info['type'] === 'image'">
        <span class="material-icons"> image  </span>
    </div>

    <div class="name">
        <div class="title"> {{ campaign.campaign_name }} </div>
        <div class="content end-time">{{ displayTime(campaign.extra_info ? campaign.extra_info['post_time'] : null) }} </div>
    </div>

    <div class="brand">
        <div class="title brand-name"> {{campaign.brand}} </div>
        <div class="current-step content">
            <div class="review">Concept review</div>
            <div class="post">Post</div>
        </div>
    </div>

    <div class="commission">
        <div class="title">Commission</div>
        <div class="content commission">$ {{campaign.commission_dollar}} </div>
    </div>

    <div class="icon" (click)="viewBrandCampaign()" *ngIf="promotionCampaign || brandCampaign">
        <span class="material-icons">arrow_forward</span>
    </div>
    <div class="icon" (click)="viewCampaign()" *ngIf="!promotionCampaign && !brandCampaign">
        <span class="material-icons">arrow_forward</span>
    </div>
    <div class="icon" (click)="signupCampaign()" *ngIf="promotionCampaign">
        <span class="material-icons">check_circle_outline</span>
    </div>
    <div class="icon" (click)="deleteCampaign()" *ngIf="!promotionCampaign">
        <span class="material-icons">delete</span>
    </div>
    <!-- <div class="icon">
        <span class="material-icons">notifications_none</span>
    </div> -->
</div>
