@import 'common';

.table-container {
    padding: 20px;
    .overview-title {
        font-size: 24px;
        font-weight: 800;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .overview-table {
        border-collapse: collapse;
        .overview-title {
            font-size: 16px;
            line-height: 22px;
            color: #9FA2B4;
            padding-right: 20px;
        }
        .overview-content {
            font-size: 18px;
            line-height: 22px;
            color: #252733;
        }
    }
}
