<div class="table-container">  
    <table class="overview-table">
        <tr>
            <td rowspan="5">
                <div class="overview-title">Campaign Name</div>
                <div class="overview-content">{{campaign.campaign_name}}</div>
                <div class="space"></div>
                <div class="overview-title">Commission</div>
                <div class="overview-content">{{ displayCommission(campaign) }}</div>
                <div class="space"></div>
                <div class="overview-title">Review Deadline</div>
                <div class="overview-content">{{ displayTime(campaign.end_time) }}</div>
                <div class="space"></div>
                <div class="overview-title">Requirements</div>
                <div class="overview-content">
                    <div  *ngFor="let item of campaign.requirements">
                        <mat-checkbox> {{ item }}</mat-checkbox>
                    </div>
                </div>
                <div class="space"></div>
                <div class="overview-title">Millstones</div>
                <div class="overview-content">
                    <div  *ngFor="let item of campaign.milestones">
                        <mat-checkbox> {{ item }}</mat-checkbox>
                    </div>
                </div>
                <div class="space"></div>
                <div class="overview-title">Contatcs</div>
                <div class="overview-content">
                    <div class="contract-list-item" *ngFor="let contract of campaign.extra_info['contracts']; index as i"> 
                        {{ contract }} 
                    </div>
                </div>
            </td>
            <td>
                <div class="overview-title">Brand</div>
                <div class="overview-content">{{campaign.brand}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="overview-title">Platform</div>
                <div class="overview-content">{{campaign.extra_info['platform']}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="overview-title">Contact Name</div>
                <div class="overview-content">{{campaign.contacts}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="overview-title">Contact Email</div>
                <div class="overview-content">{{campaign.contacts}}</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="overview-title">Post Deadline</div>
                <div class="overview-content">{{ displayTime(campaign.extra_info['post_time']) }}</div>
            </td>
        </tr>
    </table>
</div>
