@import 'common';

.table-container {

    padding: 20px 40px;
    .overview-table {
        background-color: white;
        border-collapse: collapse;
        width: 100%;
        td {
            border: 1px solid #DFE0EB;
            padding: 15px 30px;
        }
        .overview-title {
            font-size: 16px;
            line-height: 22px;
            color: #9FA2B4;
        }
        .overview-content {
            font-size: 18px;
            line-height: 22px;
            color: #252733;
        }
        .space {
            height: 10px;
        }
    }
}
