<div class="concept-content">
    <div class="left">
        <div class="version-select">
            <ng-select 
                class="influencer-ng-select" 
                [clearable]="false" 
                bindLabel="version_name"
                bindValue="history_id"
                [items]="historyList"
                [(ngModel)]="historyId"
                (change)="selectVersion($event)"
            >
                <ng-template ng-option-tmp ng-label-tmp let-item="item">
                    Version {{ item.version_name }}
                </ng-template>
            </ng-select>
        </div>

        <div class="concept-container" *ngIf="campaign">
            <div class="concept-title">
                Concept Proposal
            </div>
            <div class="concept-detail">
                {{campaign.content_concept ? campaign.content_concept : 'Concept Proposal Content'}}
            </div>
            <div class="concept-title">
                {{campaign.title ? campaign.title : 'Campaign Title'}}
            </div>
            <div class="concept-detail">
                {{campaign.description ? campaign.description: 'Descriptioon'}}
            </div>
            <div class="tags">
                <span class="small-tag"> Tag </span>
            </div>
        </div>
    
        <div class="image-content" *ngIf="images">
            <ngu-carousel #carouselLarge
                [inputs]="carouselTileLarge"
                [dataSource]="carouselTileItems"
                >
                <ngu-tile class="large-image-container"  *nguCarouselDef="let image of carouselTileItems">
                    <img class="large-image" src="{{image.url}}">
                </ngu-tile>
                <button NguCarouselPrev class='leftRs' (click)="slideLargeImageLeft()">
                    <span class="material-icons"> chevron_left </span>
                </button>
                <button NguCarouselNext class='rightRs' (click)="slideLargeImageRight()">
                    <span class="material-icons"> chevron_right </span>
                </button>
            </ngu-carousel>
            <div class="small-carousel">
                <ngu-carousel #carouselSmall
                    [inputs]="carouselTileSmall"
                    [dataSource]="carouselTileItems"
                    >
                    <ngu-tile *nguCarouselDef="let image of carouselTileItems" (click)="clickSmallImage(image)" 
                        [ngClass]="{'selected': selectedMedia.path === image.path}">
                        <img class="small-image" src="{{image.url}}">
                    </ngu-tile>
                    <button NguCarouselPrev class='leftRsSm'>
                        <span class="material-icons"> chevron_left </span>
                    </button>
                    <button NguCarouselNext class='rightRsSm'>
                        <span class="material-icons"> chevron_right </span>
                    </button>
                </ngu-carousel>
            </div>
        </div>
    
        <div class="approve-button" *ngIf="campaign">
            <button mat-flat-button color="primary" class="large-round-button" (click)="approveImage()">Approve</button>
        </div>
    </div>

    <div class="right" *ngIf="selectedMedia">
        <app-media-thread 
            [selectedMedia]="selectedMedia"
            [mediaList]="images.images"
            [allMedia]="allMedia"
        ></app-media-thread>
    </div>
</div>