@import 'common';
@import 'global';

.left {
    display: inline-block;
    width: calc(100% - 400px);
    vertical-align: top;
}

.right {
    display: inline-block;
    width: 400px;
    vertical-align: top;
}

.version-select {
    width: 200px;
    float: right;
    margin: 20px;
}

.concept-container {
    padding: 20px 40px;
    .concept-title {
        font-size: 18px;
        font-weight: 800;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .concept-detail {
        font-size: 15px;
        margin-bottom: 20px;
    }
}

.approve-button {
    text-align: right;
    margin-right: 40px;
    margin-bottom: 40px;
}

.full-text-area {
    width: 100%;
    textarea {
        resize: none;
        height: 100px;
    }
}

.image-card {
    width: 300px;
    margin: 10px;
    vertical-align: top;
    display: inline-block;
}

.image-title {
    margin: 20px;
}

.image-content {
    margin: 10px;
    padding: 10px;
}

.large-image-container {
    ::ng-deep .tile { 
        border-radius: 10px;
        margin-left: 50px;
        margin-right: 50px;
        height: 500px;
    }
    .large-image {
        display: block;
        margin: auto;
        max-height: 500px;
        max-width: 100%;
    }
}

.small-carousel {
    ::ng-deep  .ngucarousel {
        padding-left: 50px;
        padding-right: 50px;
    }
    ::ng-deep .tile { 
        border-radius: 10px;
        width: 300px;
        height: 200px;
    }
    .small-image {
        display: block;
        margin: auto;
        max-height: 200px;
        max-width: 300px;
    }
}

.small-image-container {
    
}
