<div class="header-background">

</div>
<div class="container">

    <div class="header">
        LIFO DASHBOARD
    </div>

    <div class="welcome-message" *ngIf="auth.user | async as user;">
        <div>Hello {{ user.displayName }}!</div>
    </div>

    <div class="filter-section">
        <div class="filter-status">
            
        </div>
        <div class="filter-search">
            <!-- <mat-form-field floatLabel="never" class="large-input-box">
                <input matInput placeholder="Email/Username">
            </mat-form-field> -->
        </div>
    </div>
    <mat-divider></mat-divider>

    <div class="home-subtitle">
        Active Campaign:
        <button class="create-button" mat-flat-button color="secondary" (click)="createCampaign()">Create Campaign</button>
    </div>

    <div class="campaign-item" *ngFor="let element of campaigns">
       <app-campaign-card [campaign]="element"></app-campaign-card>
    </div>
    <div class="active-campaign" *ngIf="campaigns">
        <table mat-table [dataSource]="campaignDataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
              <td mat-cell *matCellDef="let element"> 
                <span class="material-icons" *ngIf="element.campaign_data.extra_info?.type !== 'image'"> videocam  </span>
                <span class="material-icons" *ngIf="element.campaign_data.extra_info?.type === 'image'"> image  </span>
              </td>
            </ng-container>
          
            <!-- Position Column -->
            <ng-container matColumnDef="campaign_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Campaign Name </th>
              <td mat-cell *matCellDef="let element"> {{element.campaign_name}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="end_time">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Review Deadline </th>
              <td mat-cell *matCellDef="let element"> 
                  <span class="material-icons"> av_timer </span>
                    {{ displayTime(element.campaign_data.end_time) }} 
                </td>
            </ng-container>

            <ng-container matColumnDef="post_time">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Post Time </th>
              <td mat-cell *matCellDef="let element"> 
                  <span class="material-icons"> av_timer </span>
                    {{ displayTime(element.campaign_data.extra_info?.post_time) }} 
                </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="brand">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand </th>
                <td mat-cell *matCellDef="let element"> {{element.campaign_data.brand}} </td>
              </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="commision_dollar">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Commision </th>
              <td mat-cell *matCellDef="let element"> $ {{element.campaign_data.commision_dollar}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="link">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let element"> 
                    <span class="material-icons" (click)="deleteCampaign(element)"> delete_forever </span>
                    <span class="material-icons" (click)="viewCampaign(element)"> arrow_forward </span>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Campaign Name
                  </mat-panel-title>
                  <mat-panel-description>
                    End Time
                  </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion *ngFor="let campaign of campaigns">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ campaign.campaign_name }}
                  </mat-panel-title>
                  <mat-panel-description>
                    <span class="material-icons"> av_timer </span>
                    {{ displayTime(campaign) }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
                <div>
                    <button class="view-button" mat-raised-button color="primary" (click)="viewCampaign(campaign)">View Detail</button>
                    <div>
                        Contacts: {{ campaign.campaign_data.contacts }}
                    </div>
                    <div>
                        Commisions: $ {{ campaign.campaign_data.commision_dollar }}
                    </div>
                    ....
                </div>
            </mat-expansion-panel>
        </mat-accordion> -->
    </div>

</div>


