.container {
    width: 100%;
    padding: 20px;

    .header {
        margin: 20px;
        font-size: large;
    }

    .welcome-message {
        font-size: medium;
        margin: 10px 20px;
    }

    .home-subtitle {
        font-size: medium;
        margin: 10px 20px;
        height: 36px;
        line-height: 36px;

        .create-button {
            float: right;
            margin-right: 40px;
        }
    }

    .mat-divider {
        margin: 20px;
        width: calc(100% - 80px);
    }

    .active-campaign {
        margin: 20px;
        width: calc(100% - 80px);

        .mat-expansion-panel {
            margin-bottom: 5px;

            .mat-expansion-panel-header-title {
                width: 300px;
            }
            .mat-expansion-panel-header-description {
                width: 300px;
            }
        }
    }

    .view-button {
        float: right;
    }
}
