<div class="container">
    <div class="header">
        INFLUENCER DASHBOARD
    </div>

    <div class="welcome-message" *ngIf="auth.user | async as user;">
        <div>Hello {{ user.displayName }}!</div>
        <!-- <button mat-stripped-button (click)="logout()">Logout</button> -->
    </div>

    <mat-divider></mat-divider>

    <div class="home-subtitle">
        Active Campaign:
        <button class="create-button" mat-raised-button color="primary" (click)="createCampaign()">Create Campaign</button>
    </div>
    <div class="active-campaign" *ngIf="campaigns">
        <mat-accordion *ngFor="let campaign of campaigns">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ campaign.campaign_name }}
                  </mat-panel-title>
                  <mat-panel-description>
                    <span class="material-icons"> av_timer </span>
                    {{ campaign.camapgn_data.end_time }}
                    (n days left)
                  </mat-panel-description>
                </mat-expansion-panel-header>
            
                <div>
                    <button class="view-button" mat-raised-button color="primary" (click)="viewCampaign(campaign)">View Detail</button>
                    <div>
                        Contacts: {{ campaign.camapgn_data.contacts }}
                    </div>
                    <div>
                        Commisions: $ {{ campaign.camapgn_data.commision_dollar }}
                    </div>
                    ....
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

</div>


