@import 'common';
@import 'global';

.header-background {
    height: 260px;
    background-color: $COLOR_BG;
    position: absolute;
    z-index: -1;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 100%;
}

.container {
    width: calc(100% - 70px);
    padding: 20px;


    .create-button {
        float: right;
        background-color: #0071FF;
    }

    .header {
        margin: 20px;
        font-size: x-large;
        font-weight: 800;
        display: inline-block;
        color: white;
    }
    .white-header {
        color: white;
    }

    .welcome-message {
        font-size: medium;
        margin: 10px 20px;
        float: right;
        color: white;
    }

    .filter-section {
        width: 666px;
        height: 48px;

        background: #212250;
        border-radius: 16px;
        display: inline-block;
    }

    .home-subtitle {
        font-size: medium;
        margin: 10px 20px;
        height: 36px;
        line-height: 36px;
        margin-bottom: 15px;
        font-weight: 800;
    }

    .mat-divider {
        margin: 20px;
        width: calc(100% - 80px);
    }

    .campaign-item {
        margin-bottom: 15px;
    }

    .statistic-container {
        height: 500px;
        width: calc(100% - 40px);
        background-color: white;
        margin: 20px;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        border-radius: 8px;

        .chart-container {
            width: calc(100% - 350px);
            display: inline-block;
            vertical-align: top;
            height: 500px;
            padding: 20px;
        }
        .counter-container {
            width: 300px;
            display: inline-block;
            vertical-align: top;
            border-left: 1px solid #E5E5E5;
            height: 500px;

            .counter-item {
                height: 60px;
                padding: 20px;
                border-bottom: 1px solid #E5E5E5;

                .counter-title {
                    color: #9FA2B4;
                    margin-bottom: 10px;
                }
                .counter {
                    font-size: 20px;
                    font-weight: 800;
                }
            }
        }
    }

    .campaign-container {
        width: calc(100% - 40px);
        background-color: white;
        padding: 20px;
        margin: 20px;
        border: 1px solid #E5E5E5;
        box-sizing: border-box;
        border-radius: 8px;
    }
}
