<div class="header-background">

</div>
<div class="container">
    <div class="header">
        My Lifoboard
    </div>

    <div class="welcome-message" *ngIf="auth.user | async as user;">
        <div>Hello {{ user.displayName }}!</div>
    </div>

    <div class="statistic-container">
        <div class="chart-container">
            <app-brand-chart *ngIf="chartData" [chartData]="chartData"></app-brand-chart>
        </div>
        <div class="counter-container">
            <div class="counter-item">
                <div class="counter-title">ROI</div>
                <div class="counter">{{ statistic['roi'] }}</div>
            </div>
            <div class="counter-item">
                <div class="counter-title">Revenue Generated</div>
                <div class="counter">$ {{ statistic['revenue'] }} </div>
            </div>
            <div class="counter-item">
                <div class="counter-title">Traffic Gained</div>
                <div class="counter">{{ statistic['visit'] }}</div>
            </div>
            <div class="counter-item">
                <div class="counter-title">Total Commission</div>
                <div class="counter">$ {{ statistic['total_commission'] }}</div>
            </div>
            <div class="counter-item last-item">
                <div class="counter-title">Influencer Count</div>
                <div class="counter">{{ statistic['influencer_count'] }}</div>
            </div>
        </div>
    </div>
    <div class="campaign-container">
        <div class="home-subtitle" >
            Active Campaign:
            <button class="large-round-button create-button" mat-flat-button color="secondary" (click)="createCampaign()">Create Campaign</button>
        </div>
    
        <div class="campaign-item" *ngFor="let element of brandCampaigns">
            <app-campaign-card 
                [campaign]="element"
                (onDeleteCampaign)="deleteCampaign($event)"
                [brandCampaign]="true"
                [isBrandView]="true"
                [campaignRevenue]="campaignRevenue"
            ></app-campaign-card>
        </div>
    </div>
</div>
